@import 'compass/reset'
@import "compass/css3/border-radius"
@import "compass"

body
  font-family: 'Lucida Grande'
  line-height: 1.4em

@keyframes rotate-loading
  0%
    transform: rotate(0deg)
    -ms-transform: rotate(0deg)
    -webkit-transform: rotate(0deg)
    -o-transform: rotate(0deg)
    -moz-transform: rotate(0deg)
  100%
    transform: rotate(360deg)
    -ms-transform: rotate(360deg)
    -webkit-transform: rotate(360deg)
    -o-transform: rotate(360deg)
    -moz-transform: rotate(360deg)


@-moz-keyframes rotate-loading
  0%
    transform: rotate(0deg)
    -ms-transform: rotate(0deg)
    -webkit-transform: rotate(0deg)
    -o-transform: rotate(0deg)
    -moz-transform: rotate(0deg)
  100%
    transform: rotate(360deg)
    -ms-transform: rotate(360deg)
    -webkit-transform: rotate(360deg)
    -o-transform: rotate(360deg)
    -moz-transform: rotate(360deg)


@-webkit-keyframes rotate-loading
  0%
    transform: rotate(0deg)
    -ms-transform: rotate(0deg)
    -webkit-transform: rotate(0deg)
    -o-transform: rotate(0deg)
    -moz-transform: rotate(0deg)
  100%
    transform: rotate(360deg)
    -ms-transform: rotate(360deg)
    -webkit-transform: rotate(360deg)
    -o-transform: rotate(360deg)
    -moz-transform: rotate(360deg)


@-o-keyframes rotate-loading
  0%
    transform: rotate(0deg)
    -ms-transform: rotate(0deg)
    -webkit-transform: rotate(0deg)
    -o-transform: rotate(0deg)
    -moz-transform: rotate(0deg)
  100%
    transform: rotate(360deg)
    -ms-transform: rotate(360deg)
    -webkit-transform: rotate(360deg)
    -o-transform: rotate(360deg)
    -moz-transform: rotate(360deg)


@keyframes rotate-loading
  0%
    transform: rotate(0deg)
    -ms-transform: rotate(0deg)
    -webkit-transform: rotate(0deg)
    -o-transform: rotate(0deg)
    -moz-transform: rotate(0deg)
  100%
    transform: rotate(360deg)
    -ms-transform: rotate(360deg)
    -webkit-transform: rotate(360deg)
    -o-transform: rotate(360deg)
    -moz-transform: rotate(360deg)


@-moz-keyframes rotate-loading
  0%
    transform: rotate(0deg)
    -ms-transform: rotate(0deg)
    -webkit-transform: rotate(0deg)
    -o-transform: rotate(0deg)
    -moz-transform: rotate(0deg)
  100%
    transform: rotate(360deg)
    -ms-transform: rotate(360deg)
    -webkit-transform: rotate(360deg)
    -o-transform: rotate(360deg)
    -moz-transform: rotate(360deg)


@-webkit-keyframes rotate-loading
  0%
    transform: rotate(0deg)
    -ms-transform: rotate(0deg)
    -webkit-transform: rotate(0deg)
    -o-transform: rotate(0deg)
    -moz-transform: rotate(0deg)
  100%
    transform: rotate(360deg)
    -ms-transform: rotate(360deg)
    -webkit-transform: rotate(360deg)
    -o-transform: rotate(360deg)
    -moz-transform: rotate(360deg)


@-o-keyframes rotate-loading
  0%
    transform: rotate(0deg)
    -ms-transform: rotate(0deg)
    -webkit-transform: rotate(0deg)
    -o-transform: rotate(0deg)
    -moz-transform: rotate(0deg)
  100%
    transform: rotate(360deg)
    -ms-transform: rotate(360deg)
    -webkit-transform: rotate(360deg)
    -o-transform: rotate(360deg)
    -moz-transform: rotate(360deg)


@keyframes loading-text-opacity
  0%, 20%
    opacity: 0
  50%
    opacity: 1
  100%
    opacity: 0


@-moz-keyframes loading-text-opacity
  0%, 20%
    opacity: 0
  50%
    opacity: 1
  100%
    opacity: 0


@-webkit-keyframes loading-text-opacity
  0%, 20%
    opacity: 0
  50%
    opacity: 1
  100%
    opacity: 0


@-o-keyframes loading-text-opacity
  0%, 20%
    opacity: 0
  50%
    opacity: 1
  100%
    opacity: 0

.loading
  #issue
    display: none

  .loading-container, .loading
    height: 30px
    position: relative
    width: 30px
    border-radius: 100%

  .loading-container
    margin: 40px auto

  .loading
    border: 2px solid transparent
    border-color: transparent #333 transparent #333
    -moz-animation: rotate-loading 1.5s linear 0s infinite normal
    -moz-transform-origin: 50% 50%
    -o-animation: rotate-loading 1.5s linear 0s infinite normal
    -o-transform-origin: 50% 50%
    -webkit-animation: rotate-loading 1.5s linear 0s infinite normal
    -webkit-transform-origin: 50% 50%
    animation: rotate-loading 1.5s linear 0s infinite normal
    transform-origin: 50% 50%

  .loading-container
    &:hover .loading
      border-color: transparent #E45635 transparent #E45635
      -webkit-transition: all 0.5s ease-in-out
      -moz-transition: all 0.5s ease-in-out
      -ms-transition: all 0.5s ease-in-out
      -o-transition: all 0.5s ease-in-out
      transition: all 0.5s ease-in-out
    .loading
      -webkit-transition: all 0.5s ease-in-out
      -moz-transition: all 0.5s ease-in-out
      -ms-transition: all 0.5s ease-in-out
      -o-transition: all 0.5s ease-in-out
      transition: all 0.5s ease-in-out

code, tt
  margin: 0 2px
  padding: 0 5px
  white-space: nowrap
  border: 1px solid #eaeaea
  background-color: #f8f8f8
  border-radius: 3px

pre code
  margin: 0
  padding: 0
  white-space: pre
  border: none
  background: transparent

.highlight pre
  background-color: #f8f8f8
  border: 1px solid #cccccc
  font-size: 13px
  line-height: 19px
  overflow: auto
  padding: 6px 10px
  border-radius: 3px

pre
  background-color: #f8f8f8
  border: 1px solid #cccccc
  font-size: 13px
  line-height: 19px
  overflow: auto
  padding: 6px 10px
  border-radius: 3px

pre code, pre tt
  background-color: transparent
  border: none

.labels
  margin: 10px 5px

.labels span
  +border-radius(5px)
  padding: 5px

button
  @include background-image(linear-gradient(#eee, #ccc))
  border: 1px solid #ccc
  border-bottom: 1px solid #bbb
  border-radius: 3px
  color: #333
  font: bold 11px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif
  padding: 8px 0
  text-align: center
  text-shadow: 0 1px 0 #eee
  width: 150px

  &:hover
    @include background-image(linear-gradient(#ddd, #bbb))
    border: 1px solid #bbb
    border-bottom: 1px solid #999
    cursor: pointer
    text-shadow: 0 1px 0 #ddd

  &:active
    border: 1px solid #aaa
    border-bottom: 1px solid #888
    @include box-shadow(inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee)
