What should I work on?

%select#language
  %option Ruby
  %option JavaScript

%button#new I don't want to do that

%script(src="/javascripts/projectr.js")

%script#issue_template(type='nyannyannyan')
  %h2 <%= issue.title %>
  %a(href='<%= issue.html_url %>')
    <%= issue.html_url %>

  %p
    <%= issue.body %>

  <% _.each(issue.labels, function(label) { %> <%= label.name %> <% }); %>
